{{define "shared/board_aside"}}
<aside class="j13-aside j13-aside--left">
  <a class="j13-aside__link{{if eq .ActiveBoard 0}} is-active{{end}}" href="/">全部帖子</a>
  {{range .Boards}}
  <a class="j13-aside__link{{if eq $.ActiveBoard .ID}} is-active{{end}}" href="/board/{{.ID}}">{{.Name}}</a>
  {{end}}
</aside>
{{end}}
